<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="com.jakewharton.threetenabp" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resizeableActivity="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authority_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".ui.PassListActivity"
            android:exported="true"
            android:theme="@style/AppThemeNoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PreferenceActivity"
            android:theme="@style/AppThemeNoActionbar" />

        <activity
            android:name=".ui.BackupActivity"
            android:theme="@style/AppThemeNoActionbar" />

        <activity
            android:name=".ui.PassEditActivity"
            android:theme="@style/AppThemeNoActionbar" />

        <activity
            android:name=".ui.PassImportActivity"
            android:exported="true"
            tools:ignore="ExportedActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="/.*\.espass"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\.espass"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\.pkpass"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\.pkpass"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\.pkpasses"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\.pkpasses"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\.pdf"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/.*\.pdf"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:mimeType="application/vnd.espass-espass"
                    android:scheme="content" />
                <data
                    android:mimeType="application/vnd.espass-espass"
                    android:scheme="file" />
                <data
                    android:mimeType="application/vnd.espass-espass+zip"
                    android:scheme="content" />
                <data
                    android:mimeType="application/vnd.espass-espass+zip"
                    android:scheme="file" />
                <data
                    android:mimeType="application/vnd.apple.pkpass"
                    android:scheme="content" />
                <data
                    android:mimeType="application/vnd.apple.pkpass"
                    android:scheme="file" />
                <data
                    android:mimeType="application/vnd.apple.pkpasses"
                    android:scheme="content" />
                <data
                    android:mimeType="application/vnd.apple.pkpasses"
                    android:scheme="file" />
                <data
                    android:mimeType="application/pkpass"
                    android:scheme="content" />
                <data
                    android:mimeType="application/pkpass"
                    android:scheme="file" />
                <data
                    android:mimeType="application/pkpasses"
                    android:scheme="content" />
                <data
                    android:mimeType="application/pkpasses"
                    android:scheme="file" />
                <data
                    android:mimeType="application/vndapplepkpass"
                    android:scheme="content" />
                <data
                    android:mimeType="application/vndapplepkpass"
                    android:scheme="file" />
                <data
                    android:mimeType="application/vnd-com.apple.pkpass"
                    android:scheme="content" />
                <data
                    android:mimeType="application/vnd-com.apple.pkpass"
                    android:scheme="file" />
                <data
                    android:mimeType="application/pdf"
                    android:scheme="content" />
                <data
                    android:mimeType="application/pdf"
                    android:scheme="file" />
                <data
                    android:mimeType="application/x-pdf"
                    android:scheme="content" />
                <data
                    android:mimeType="application/x-pdf"
                    android:scheme="file" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:pathPattern="/.*\.espass" />
                <data android:pathPattern="/.*\.pkpass" />
                <data android:pathPattern="/.*\.pkpasses" />
                <data android:pathPattern="/.*\.pdf" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vnd.espass-espass" />
                <data android:mimeType="application/vnd.espass-espass+zip" />
                <data android:mimeType="application/vnd.apple.pkpass" />
                <data android:mimeType="application/vnd.apple.pkpasses" />
                <data android:mimeType="application/pkpass" />
                <data android:mimeType="application/pkpasses" />
                <data android:mimeType="application/vndapplepkpass" />
                <data android:mimeType="application/vnd-com.apple.pkpass" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.TouchImageActivity" />

        <activity
            android:name=".ui.PassViewActivity"
            android:exported="false"
            android:parentActivityName=".ui.PassListActivity"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.PassListActivity" />
        </activity>

        <activity
            android:name=".ui.ScanBarcodeActivity"
            android:theme="@style/AppThemeNoActionbar" />

        <activity
            android:name=".ui.FullscreenBarcodeActivity"
            android:theme="@style/AppThemeNoActionbar" />
    </application>

</manifest>
